@import 'reset';
@import 'variables';
@import 'mixin';

body{
    font-family: 'Love Ya Like A Sister', cursive;
    background-image: url(../images/nombres.jpg);
    background-size: contain;
}
h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: $fs1;
    text-align: center;
    padding: 20px 0;
}
h2{
    text-align: center;
    font-size: $fs2;
}
.container {
    background-image: url(../images/ardoise.png);
    background-size: cover;
    width: 90%;
    margin: 20px auto 0;
    height: 118vw;
    // box-shadow: 10px 5px 5px grey;
    // border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .choixTable{
        padding-top: 15vw;
        color: white;
        font-family: 'Love Ya Like A Sister';
        font-size: $fs2;
        
    }
}
.hop{
    margin: 20px auto;
    display: block;
    font-size: 35px;
    font-family: 'Love Ya Like A Sister';
    border-radius: 50%;
    padding: 17px;
    border: none;
    // box-shadow: 10px 5px 5px grey;
    cursor: pointer;
    .hop:hover{
      background-color: black;
    }
}
@keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
.bouton{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Love Ya Like A Sister', cursive;
    a{
        // display: block;
        // margin: 26px auto 0px;
        font-size: $fs2;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        margin-top: 20px;
        &:hover{
            -webkit-animation-name: hvr-buzz-out;
            animation-name: hvr-buzz-out;
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }
}
.test{
    font-family: 'Love Ya Like A Sister';
    text-align: center;
    font-size: $fs3;
   
}
.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    .tentative{
        border-radius: 100%;
        padding: 5px;
        font-size: $fs3;
        text-align: center;
        border: none;
        background-color: transparent;
        color: white;
        font-family: 'Love Ya Like A Sister';
    }
}
.valider{
    border-radius: 10px;
    color: white;
    background-color: transparent;
    font-family: 'Love Ya Like A Sister';
    font-size: 7vw;
    border-color: white;
    margin: 10px;
    
}
.message{
    position: absolute;
    bottom: 25vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.score{
    position: absolute;
    bottom: 16vw;
}
.relative{
    position: relative;
}
.fin{
    font-size: 7vw;
    text-align: center;
    line-height: 10vw;
    padding-top: 20vw;
}

@media (min-width:450px) {
  .container{
    width: 400px;
    height: 530px;
  }
  .fin {
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    padding-top: 50px;
  }
  .bouton a, h2{
    font-size: 20px;
  }
  h1{
    font-size: 50px;
  }
  .container .choixTable {
    padding-top: 77px;
    color: white;
    font-family: 'Love Ya Like A Sister';
    font-size: 25px;
  }
  .hop{
    margin: 10px auto 0;
  }
  .test{
    font-size: 60px;
  }
  .formulaire .tentative{
    font-size: 60px;
  }
  .valider{
    font-size: 40px;
  }
  .score{
    bottom: 80px;
  }
  .message{
    bottom: 120px;
  }
}
@media (min-width: 1000px) { 

  h1{
    font-size: 55px;
  }
  h2{
    font-size: 30px;
  }
  .flexindex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto 0;
    max-width: 1200px;
    
}
    .container{
    background-image: url(../images/ardoise2.png);
    background-size: cover;
    width: 140%;
    max-width: 800px;
    margin: 0;
    height: 599px;
    /* box-shadow: 10px 5px 5px grey; */
    /* border-radius: 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  
      .choixTable{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 79%;
      height: 75%;
      padding-top: 100px;
      font-size: 50px;
        .nombre{
          padding-left: 15px;
        }
    }
 }
 input[type=radio] {
  border: 0px;
  width: 25px;
  height: 33px;
}
 .hop{
   font-size: 30px;
   width: 105px;
   height: 80px;
   margin: 0;
   border-radius: 10%;
   background-color: #8d8d8d
   ;
 } 
 ul{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 100%;
   height: 100%;
   padding-left: 30px;
 }
 .bouton{
   text-align: center;
 }
 .bouton a{
      font-size : 30px;
  }
  .test{
    font-size: 75px;
  }
  .formulaire{
    flex-direction: row;
    justify-content: space-around;
  }
  .formulaire .tentative{
    font-size: 60px;
    border: 2px solid white;
    border-radius: 10%;
  }
  .score{
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .message{
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
  }
  .valider{
    font-size: 50px;
    margin : 0;
    padding: 11px;
  }
  #gagner{
    padding-bottom: 40px;
  }
  .fin{
    font-size: 70px;
    padding-top: 20px;
    line-height: 125px;
  }

}

.hop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hop:hover, .hop:focus, .hop:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);

}

